{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Scripts -->
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/35db202371.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="/static/js/jquery.flexslider.js"></script>
	<script src="/static/js/flexslider.js"></script>

    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/flexslider.css" type="text/css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    
	<style type="text/css">
		body
		{
			background-image: url("/static/img/fondo-artias.jpg");

		}

	</style>
</head>
<body>
	<section class="acerca-de">

        <div class="info-container">
            <div class="info-container">
                <div class="project-title-Artistas">
                    <h2>Artistas</h2>
                    <hr>
                </div>
                <br>
            <div class="container-event-Artistas">
                <p> 
                    <img src="/static/img/chica.jpeg" align="left"> Drefquila
                    <a href="dref"  class="buttonventa venta white1  radius">
                   
                            Ver Mas!</a>
                </p>
            </div>
            <br>
            <div class="container-event-Artistas">
                <p> 
                    <img src="/static/img/chica1.jpg" align="left"> Christian French
                    <a href="chriz"  class="buttonventa venta white1  radius">
                   
                            Ver Mas!</a>
                </p>
            </div>
            <br>
            <div class="container-event-Artistas">
                <p> 
                    <img src="/static/img/chica3.jpg" align="left"> Post Malone
                    <a href="pozt"  class="buttonventa venta white1  radius">
                   
                            Ver Mas!</a>
                </p>
            </div>
            <br>
        </div>

    </section>
</body>
</html>