{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Artistas DawgRecord | Inicio</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Scripts -->
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/35db202371.js"></script>
    <script src="/static/js/app.js"></script>

    <!-- Estilos -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    
</head>
<body>


    <!-- Ir arriba -->
    <div class="go-top">
        <span><i class="fas fa-angle-up"></i></span>
    </div>


    <!-- Menu de navegacion -->
     <header id="header">
      
      <nav class="menu">
       
        <div class="logo-box">
            <h1><a href="#">Artistas DawgRecord</a></h1>
            <span class="btn-menu"><i class="fas fa-bars"></i></span>
        </div>

        <div class="list-container">
            <ul class="lists">
                <li><a href="index.html" class="activo">Inicio</a></li>
                <li><a href="Login.html">Login</a></li>
            </ul>
        </div>

      </nav>

      <!-- IMG Header -->
      <div class="img-header">
          <div class="welcome">
              <h1>Bienvenidos Artistas DawgRecord</h1>
              <hr>
              <p>Los valores son flexibles, especialmente para proyectos grandes y artistas independientes. Mi misión es ayudar a los músicos locales a lograr resultados profesionales y grabaciones memorables.</p>
              
          </div>
      </div>

      <div class="skew-abajo"></div>

     </header>

    <!-- Menu de navegacion -->

  <main>

    <!-- Descripcion de Servicios -->
    <section class="acerca-de">

        <div class="info-container">
            <h1>Descripcion de Servicios</h1>
            <br>
            <h3 style="margin: auto;">Contacto Artistas</h3>
            <br>
            <p>Tenemos una alta Gamma de Artistas Reconocidos</p>
            <br>
            <div class="about-gallery">
                    <img src="/static/img/im9.jpg" alt=""
                    <img src="/static/img/img_dref1.jpg" alt="">
                    <img src="/static/img/cfp3.jpg" alt="">
                </div>
            <h2 style="margin: auto;">Produccion</h2>
            br
            <h3 style="margin: auto;">Grabaciòn</h3>
            <br>
            <img id="hz0wv2mwimgimage" style="margin:auto;object-position:50% 50%;width:201px;height:201px;object-fit:cover" alt="" data-type="image" itemprop="image" src="/static/img/Grabacion.jpg">
            <p>Incluye grabación por pistas de cada instrumento en calidad profesional hasta 192 khz / 32 bits con preamplificadores y conversión A/D Focusrite. Disponible emulaciones de preamplificadores legendarios para un sonido contemporáneo o vintage.</p>
            <h3 style="margin: auto;">Mezcla</h3>
            <br>
            <img id="hz0wv2mwimgimage" style="margin:auto;object-position:50% 50%;width:201px;height:201px;object-fit:cover" alt="" data-type="image" itemprop="image" src="/static/img/Mazcla.jpg">
            <p>La mezcla se adapta para cada estilo de música, utilizando la última tecnología en emulación de hardware clásico y moderno. También realizo mezclas para temas grabados en otros estudios. Incluye hasta 3 revisiones, lo que asegura un óptimo resultado .</p>
            <h3 style="margin: auto;">Masterizaciòn</h3>
            <br>
            <img id="hz0wv2mwimgimage" style="margin:auto;object-position:50% 50%;width:201px;height:201px;object-fit:cover" alt="" data-type="image" itemprop="image" src="/static/img/materizacion.jpg">
            <p>La masterización es una proceso fundamental dentro de la producción de un tema o un disco, en el cual se prepara el audio para su reproducción en todo tipo de formatos y medios, desde un iphone hasta un equipo hi-fi, quedando preparado para ser transformado a otros formatos como mp3, flac o AAC (itunes Store).</p>
            <h3 style="margin: auto;">Producciòn Musical</h3>
            <br>
            <img id="hz0wv2mwimgimage" style="margin:auto;object-position:50% 50%;width:201px;height:201px;object-fit:cover" alt="" data-type="image" itemprop="image" src="/static/img/Produccion.jpg">
            <p>Además de la ayuda que entregamos en cada proyecto, contamos con Producción Musical a cargo de Jimi Montaño, que ha participado en destacados proyectos de la Región. Desde la composición, arreglos y grabación, hasta la mezcla y masterización, te guiará en el proceso para lograr un resultado profesional.</p>
     
        </div>

    </section>

    <!-- Botones Redes Sociales -->
    
    <a href="https://www.instagram.com/pipe.latino"  class="button white peq radius">
        <span>
            <i class="fab fa-instagram"></i></span>
            Instagram</a>
        
    <!-- Botones Redes Sociales -->
    <!-- Nuestros Proyectos -->
   
<footer class="footer">
        <div class="skew-arriba"></div>
       
           <div class="deg-footer"></div>
       
           <div class="ejeZfooter">
             <div class="footer-content">
             <div class="footer-title">
                 <h2>Formulario de Contacto</h2>
                 <hr>
             </div>
       
             <div class="formulario-content">
              <form id="formulario">
                <label for="user">Nombre:</label>
                <input  type="text" id="user" name="user" placeholder="Ingresa tu nombre">

                <label for="email">Correo Electronico:</label>
                <input  type="email" id="email" name="email" placeholder="Ingresa tu Correo Electronico">
       
                <label for="mensaje">Escribe tu mensaje:</label>
                <textarea  name="mensaje" id="mensaje"></textarea>
       
                <div class="send"><button>Enviar</button></div>
       
                <div class="mensaje-form">
                    <p>Escribenos un mensaje, con gusto tendras una respuesta de parte de nosotros en muy poco tiempo.</p>
                </div>
       
              </form>
             </div>
       
             <div class="footer-text">
                 
                 <p>&copy; Artistas DawgRecord - 2019 | Todos los derechos reservados </p>
                
             </div>
       
             </div>
           </div>
       
       </footer>
</main>